/* CSS file for Museum of Candy */
body {
  background: #f5d9d5;
  font-family: "Nunito", sans-serif;
}

.contentText h2 {
  color: #ea1c2c;
  font-weight: 100;
  font-size: 2.5rem;
}

.contentText p {
  color: #f498b8;
  font-weight: 100;
  font-size: 1.125rem;
}

.contentSpace {
  margin-top: 100px;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

/* use a nested selector to select the navbar-brand class, which is located within the mainNavbar ID */
#mainNavbar .navbar-brand {
  color: #ea1c2c;
  font-size: 1.5rem;
}

#mainNavbar .nav-link {
  color: white;
}
/* add the color change on the nav-links using the hover method */
#mainNavbar .nav-link:hover {
  color: #ea1c2c;
}

/* select the two slashes in the headingGroup to change its color */
#headingGroup span {
  color: #ea1c2c;
}

#headingGroup h1 {
  font-weight: 100;
  font-size: 4rem;
}

/* the jQuery class that is used to transform navbar color when scrolling */
.navbar.scrolled {
  background: rgb(222, 192, 222);
  transition: background 500ms;
}


/* use media query to make the h1 text change size when the sceen's max width is at 1200px */
@media (max-width: 1200px) {
  #headingGroup h1 {
    font-weight: 100;
    font-size: 3rem;
  }
}
